body {
	margin: 0;
	font-family: 'Arimo','ZCOOL KuaiLe';
	font-size: 20px;
	color: #FFF;	
	
	background-color: #000;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Container
===================*/
.Container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}




/* Header
===================*/
.header {
	padding: 40px;
	width: 100%;
	position: absolute;
	position:fixed;
	
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 0 0 40px;
	
	border-bottom: 5px solid #FFF;
	
}



/* Navigation
===================*/
.nav {
	Font-size: 17px;
	text-transform: uppercase;
}

.nav__link {
	color: #fff;
	text-decoration: overline;
	opacity: 0.66;
	margin-left: 20px;
	
	transition: opacity 0.3s 
	linear;
	
}

.nav__link:hover {
	text-decoration: none;
	text-decoration: underline;
	opacity: 1;

}

/* Intro
===================*/
.intro{
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	padding-top: 100px;

	background: url(img/about-bg.png) no-repeat;
	background-size: cover;
	
}
.intro__head{
	margin-left: 40px;
	font-family: 'ZCOOL KuaiLe', cursive;
}
.intro__text{
	margin-left: 40px;
	font-family: 'ZCOOL KuaiLe', cursive;
	opacity: 0.66;
	transition: 0.3s;
}
.intro__text:hover{
	opacity: 1;
	margin-left: 70px;
}


/* Intro__Second
===================*/
.intro__second {
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	padding-top: 100px;
	text-align: center;

	background: url(img/zakat-bg.png) no-repeat;
	background-size: cover;
}

/* Button
===================*/
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 20px 20px;
	margin-top: 70px;
	
	font-size: 20px;
	Color: #fff;
	font-family: 'ZCOOL KuaiLe', cursive;
	text-decoration: none;
	
	opacity: 0.66;
	transition: .5s;
	
}
.btn--blue {
	background-color: #4169e1;
}

.btn--red {
	background-color: #ff0000;
}

.btn--green {
	background-color: #5cffad;
}

.btn:hover {
	margin-top: 35px;
	padding: 30px 30px;
	font-size: 30px;
	opacity: 1;
}

.center-verbs {
	text-align: center;
}


/* About
===================*/
.about__text {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 40px;
	width: 300px;
}


/* Columns
===================*/
.col {
	column-count: 2;
	column-gap: 100px;
	column-rule: 3px solid;
}
